.navbar-bg {
  background-color: transparent;
}

.avatar {
  border: 2px solid white;
}

.navbar-bg {
  height: 64px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
